html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  opacity: 0.3;
}

.card:not(:last-of-type) {
  --card-height: 250px;
  margin-bottom: calc(75px - var(--card-height));
  height: var(--card-height);
}

.card:not(:first-of-type) {
  box-shadow: 0 -15px 15px 0 grey;
}

.card-text {
  height: 120px;
  overflow: auto;
}
