html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  opacity: 0.3;
}